[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-aws = "*"
langchain-community = "*"
lancedb = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
