[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
langchain-openai = "*"
python-dotenv = "*"
faiss-cpu = "*"
langserve = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
