[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "1.24.1"
langchain-openai = "*"
python-dotenv = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.9"
